.container {
  height: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  background-color: rebeccapurple;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: red;
}

#left {
  flex-shrink: 0;
}

.topLeft {
  flex-shrink: 0;
  display: flex;
  background-color: rosybrown;
}

.topRight {
  flex-shrink: 0;
  display: flex;
}

.ul {
  list-style: none;
}

.bottom {
  flex-grow: 1;
  overflow-y: auto;
  background-color: pink;
}
